/* Fix per caselle input - rimuovi spinner e dimensione minima */

/* Rimuovi spinner da input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Dimensione minima celle per visualizzare numeri */
.cell-input {
    min-width: 120px !important;
    width: 120px;
}

/* Padding interno per vedere meglio i numeri */
.cell-input,
.cell-textarea {
    padding: 8px !important;
}

/* Forza dimensioni celle e rimozione spinner - versione potenziata */
input[type="number"].cell-input,
input[type="text"].cell-input {
    min-width: 150px !important;
    width: 150px !important;
    font-size: 14px !important;
}

/* Assicura che gli spinner siano rimossi anche su Firefox */
input.cell-input[type="number"] {
    -moz-appearance: textfield !important;
}

input.cell-input[type="number"]::-webkit-inner-spin-button,
input.cell-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    display: none !important;
}

/* Table layout rules moved to forms.css - these old rules are commented out to avoid conflicts */


